force-app/main/default/flows/Create_Inventory_Change_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Inv_CR_Id</name>
        <label>Assign Inv CR Id</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>inventoryCR.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Existing_Inv_CR.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Inv_CR_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clone_to_CR_0</name>
        <label>Clone to CR</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>inventoryCR.Inventory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>controllingInventory.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inventoryCR.BQR_Local__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>controllingInventory.BQR_Local__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inventoryCR.BSO_Local__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>controllingInventory.BSO_Local__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inventoryCR.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>controllingInventory.Comments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inventoryCR.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>controllingInventory.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inventoryCR.ERES__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>controllingInventory.ERES__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inventoryCR.ERES_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>controllingInventory.ERES_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inventoryCR.eSIG__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>controllingInventory.eSIG__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inventoryCR.GxP_Criticality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>controllingInventory.GxP_Criticality__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inventoryCR.GxP_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>controllingInventory.GxP_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inventoryCR.MyAppsID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>controllingInventory.MyAppsID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inventoryCR.Review_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>controllingInventory.Review_Period__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inventoryCR.Software_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>controllingInventory.Software_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inventoryCR.Software_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>controllingInventory.Software_Version__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inventoryCR.System_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>controllingInventory.System_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inventoryCR.SystemName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>controllingInventory.SystemName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inventoryCR.TSO_Local__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>controllingInventory.TSO_Local__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inventoryCR.Vendor_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>controllingInventory.Vendor_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inventoryCR.WebBrowser__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>controllingInventory.WebBrowser__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Result_of_Inv_CR_Search</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Result_of_Inv_CR_Search</name>
        <label>Result of Inv CR Search</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Create_new_Inv_CR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inv CR Not Found</defaultConnectorLabel>
        <rules>
            <name>Found_Inv_CR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Existing_Inv_CR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Inv_CR_Id</targetReference>
            </connector>
            <label>Found Inv CR</label>
        </rules>
    </decisions>
    <interviewLabel>Create Inventory Change Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Inventory Change Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_new_Inv_CR</name>
        <label>Create new Inv CR</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <inputReference>inventoryCR</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_Existing_Inv_CR</name>
        <label>Find Existing Inv CR</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clone_to_CR_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Inventory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>controllingInventory.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inventory_Change_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Inv_CR_0</name>
        <label>Update Inv CR</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <inputReference>inventoryCR</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Existing_Inv_CR</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>controllingInventory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Inventory__c</objectType>
    </variables>
    <variables>
        <name>inventoryCR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Inventory_Change_Request__c</objectType>
    </variables>
</Flow>
