force-app/main/default/flows/Inventory_Change_Request_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_to_List</name>
        <label>Add to List</label>
        <locationX>396</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>allChanges</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oneChange</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Them_All</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Modify_the_Record_0</name>
        <label>Modify the Record</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>oneChange.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Them_All.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oneChange.Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Inventory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Modify_the_Record_0_0</name>
        <label>Modify the Record</label>
        <locationX>528</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>oneChange.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Them_All.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oneChange.Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Inventory</name>
        <label>Update Inventory</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>updateInventory.BQR_Local__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Them_All.BQR_Local__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateInventory.BSO_Local__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Them_All.BSO_Local__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateInventory.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Them_All.Comments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateInventory.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Them_All.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateInventory.ERES__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Them_All.ERES__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateInventory.ERES_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Them_All.ERES_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateInventory.eSIG__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Them_All.eSIG__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateInventory.GxP_Criticality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Them_All.GxP_Criticality__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateInventory.GxP_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Them_All.GxP_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateInventory.MyAppsID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Them_All.MyAppsID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateInventory.Review_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Them_All.Review_Period__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateInventory.Software_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Them_All.Software_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateInventory.Software_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Them_All.Software_Version__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateInventory.System_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Them_All.System_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateInventory.SystemName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Them_All.SystemName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateInventory.TSO_Local__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Them_All.TSO_Local__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateInventory.Vendor_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Them_All.Vendor_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateInventory.WebBrowser__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Them_All.WebBrowser__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateInventory.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>What_Status</name>
        <label>What Status</label>
        <locationX>396</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Modify_the_Record_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Modify_the_Record_0</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <interviewLabel>Inventory Change Request Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inventory Change Request Updates</label>
    <loops>
        <name>Find_Them_All</name>
        <label>Find Them All</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_Related_Changes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>What_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Save_changes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Changes</name>
        <label>Get Related Changes</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Them_All</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Inventory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Inventory_Change_Request__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Save_changes</name>
        <label>Save changes</label>
        <locationX>176</locationX>
        <locationY>1070</locationY>
        <connector>
            <targetReference>Update_Inventory_to_Change_0</targetReference>
        </connector>
        <inputReference>allChanges</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Inventory_to_Change_0</name>
        <label>Update Inventory to Change</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <inputReference>updateInventory</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Changes</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>allChanges</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inventory_Change_Request__c</objectType>
    </variables>
    <variables>
        <name>currentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oneChange</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inventory_Change_Request__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updateInventory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inventory__c</objectType>
    </variables>
</Flow>
