force-app/main/default/flows/Inventory_Comparison.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Set_Rec_Id</name>
        <label>Set Rec Id</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Proc_Inv_CR.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_InvCR</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Get_Context_Id</name>
        <label>Get Context Id</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Get_InvCR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Appv_Req</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ProcessInstanceWorkitem</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Appv_Id</targetReference>
            </connector>
            <label>Is Appv Req</label>
        </rules>
    </decisions>
    <interviewLabel>Inventory Comparison {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inventory Comparison</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Appv_Id</name>
        <label>Get Appv Id</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Proc_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstanceWorkitem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Inv</name>
        <label>Get Inv</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Side_by_Side</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_InvCR.Inventory__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inventory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_InvCR</name>
        <label>Get InvCR</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Inv</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inventory_Change_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Proc_Id</name>
        <label>Get Proc Id</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Proc_Inv_CR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Appv_Id.ProcessInstanceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstance</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Proc_Inv_CR</name>
        <label>Get Proc Inv CR</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Rec_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Inventory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Proc_Id.TargetObjectId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inventory_Change_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Side_by_Side</name>
        <label>Side by Side</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Show_Side_by_Side</name>
            <extensionName>c:sideBySide</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>childRecordId</name>
                <value>
                    <elementReference>Get_InvCR.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>Get_Inv.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Context_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>objectApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
