force-app/main/default/flows/Start_Inventory_Change_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_for_Approval</name>
        <label>Submit for Approval</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <interviewLabel>Start Inventory Change Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Start Inventory Change Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Inventory</name>
        <label>Get Inventory Data</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Inventory_Change_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inventory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Edit_ICR_Details</name>
        <label>Edit ICR Details</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Submit_for_Approval</targetReference>
        </connector>
        <fields>
            <name>InventoryCR_Edit</name>
            <extensionName>c:recordDetailFlowScreenComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>Edit</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Inventory_Change_Request__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fields</name>
                <value>
                    <stringValue>Name,TSO_Local__c,SystemName__c,BQR_Local__c,MyAppsID__c ,BSO_Local__c,GxP_Criticality__c,Vendor_Name__c,GxP_ID__c,Software_Name__c,ERES_ID__c,Software_Version__c,ERES__c,System_Type__c,eSIG__c,WebBrowser__c,Description__c,Comments__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Inventory_Change_Request.inventoryCR.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowNavigationOnSave</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressToast</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>SaveBtnLabel</name>
                <value>
                    <stringValue>Submit</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Inventory</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Inventory_Change_Request</name>
        <label>Get Inventory Change Request</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Edit_ICR_Details</targetReference>
        </connector>
        <flowName>Create_Inventory_Change_Request</flowName>
        <inputAssignments>
            <name>controllingInventory</name>
            <value>
                <elementReference>Get_Inventory</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
